{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "plugins": [
      "import"
  ],
  "rules" : {
      "indent": ["error", 4],
      "no-underscore-dangle": ["error", { "allowAfterThis": true }]
  }
}